* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background-color: blueviolet;
}

.container {
  background-color: white;
  padding: 3em 2.5em;
  width: 80vw;
  max-width: 32.5em;
  position: absolute;
  top: 25%;
  left: 25%;
  border-radius: 2rem;
}

.search-box {
  /* display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1.2em; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.search-btn {
  background-color: blueviolet;
  padding: 1em 0.5em;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 1.5em;
  color: white;
}
.search-btn:hover {
  cursor: pointer;
  box-shadow: 2px 4px 2px rgba(48, 46, 46, 0.619);
}
.search-box input {
  padding: 0.5em;
  font-size: 1.3em;
  border: none;
  border-bottom: 2px solid blueviolet;
  outline: none;
}
.result {
  margin-top: 2rem;
}
.flag {
  display: block;
  width: 45%;
  min-width: 7.5em;
  margin: 1rem auto;
}
.heading-2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(40, 37, 37);
  margin-bottom: 2rem;
}
.wrapper {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
h4 {
  display: inline;
  letter-spacing: 1.2px;
  color: black;
  font-weight: 500;
  text-transform: capitalize;
}
span {
  color: rgb(157, 145, 145);
  font-weight: 300;
}
h3 {
  font-size: 1.1rem;
  color: rgba(242, 79, 79, 0.986);
}

@media only screen and (max-width: 600px) {
  .container {
    background-color: white;
    padding: 3em 2.5em;
    width: 85vw;
    max-width: 32.5em;
    position: absolute;
    top: 10%;
    left: 10%;
    border-radius: 2rem;
  }
  .search-box {
    min-width: 100%;
    min-height: 15vh;
    flex-direction: column;
    justify-content: space-;
  }
}
